.Content {
  height: 100%;
  background-color: #ffffff;
  margin: 3em 15em;
  display: flex;

-moz-border-radius-bottomleft: 12px 6px;
border-bottom-left-radius: 12px 6px;
-moz-border-radius-bottomright: 12px 6px;
border-bottom-right-radius: 12px 6px;
-moz-border-radius-topright: 12px 6px;
border-top-right-radius: 12px 6px;
-moz-border-radius-topleft: 12px 6px;
border-top-left-radius: 12px 6px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
}

.Map{
  flex:2;
  border-right:  1px solid lightgrey;
    border-left:  1px solid lightgrey;
}
.Devices{
  flex:1;
}

.Locations{
  flex:1;
  overflow-y: auto;
}
